doctype html
html
    head
        title my Site
    style.
            .folders a , .add_folder {
                box-shadow:inset 0 0 5px 5px #ee82ee; 
                margin: 1%;
                width: 47%;               
                border-radius: 50px;      
                display: inline-block;
                text-align: center;
                background-color: #dda0dd;               
                font: 600 35px/60px "Arial",sans-serif;
                text-decoration: none;
                color: #fff;
            }
           
            a:hover { 
                background-color: #ee82ee; 
               
            }
            div.folders {
                margin: 5vw auto;
                width: 70%;
               
            
            }
            span {
                float: right;
                font: 400 20px/60px "Arial",sans-serif;
                background-color: red;
                border-radius: 60px;
                display: inline-block;
                height: 60px;
                width: 60px;
                visibility: hidden;

            }
            a:hover span {
                visibility: visible;
            }
            @media  (max-width: 800px) {
            a{
               width: 47%;

                font: 400 50px/50px "Arial",sans-serif;
            }
            div.folders {
                width: 100%;
                margin: 10px 0;
            }

            }
            div,
            body {
            background-color: #00ffff;
            }    
    body
        div.folders
            a.add_folder(href = `${url}/createFolder`) create new folder
            a.add_folder(href = `${url}/upload_base`) upload base      
       
            h2 Folders:#{folders.length}
            -var one = folders
            for i in one               
                a(href= `${url}/items/?brand=${i}`)= i 
                    span(title="delete folder") del 